@font-face {
  font-family: 'Satoshi';
  src: url(../assets/fonts/Satoshi-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url(../assets/fonts/Satoshi-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
html,
body {
  font-family: 'Satoshi', sans-serif;
  /*background-color: #f3e5f5;*/
  background-image: url(../assets/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;

  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 150px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #7b1fa2;
}

.quiz-title {
  font-size: 2rem;
  font-weight: bold;
  /*color: #7b1fa2;*/
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.quiz-description {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.quiz-button {
  display: inline-block;
  background-color: #7b1fa2;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
  font-weight: bold;
}

.quiz-button:hover {
  background-color: #8750c6;

}

.quiz-question {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

.quiz-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  cursor: pointer;
}

.quiz-option {
  background-color: #122A38;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
}

.quiz-option:hover {
  background-color: #0E6E8B;
  color: white;
}

.quiz-option.selected {
  background-color: #0E6E8B;
  color: white;
}

.results-container {
  text-align: center;
}

.results-title {
  font-size: 2rem;
  font-weight: 500;
  color: #7b1fa2;
  margin-bottom: 20px;
}

.results-text {
  font-size: 1.2rem;
  color: #4a148c;
  margin-bottom: 30px;
}

.result-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.result-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.correct {
  background-color: #0E6E8B;
}

.incorrect {
  background-color: #c65050;
}

.result-tooltip {
  position: absolute;
  background-color: #2c2e43;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  width: 300px;
  z-index: 10;
  margin-top: -150px;
}

.tooltip-question {
  font-weight: bold;
}

.tooltip-answer {
  margin-top: 5px;
}

.tooltip-correct-answer {
  margin-top: 5px;
  color: #48bb78;
}

.congratulations-text {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  line-height: 1.4;
}

.score-text {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.question-counter {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
